@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@700&display=swap');

#topbarr {
    width: 100vw;
    height: 100px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    background-color: #ffffff;
    column-gap: 10px;
    border-bottom: 1px solid grey;
    margin-bottom: 30px;
}

.top_it {
    display: flex;
    justify-content: center;
    align-items: center;
}

#logo {
    display: flex;
    flex-direction: column;
}

#swordpass {
    color: rgb(88, 88, 236);
    font-family: 'Inconsolata', monospace;
    font-weight: bolder;
    font-size: 2rem;
}

#manager {
    color: rgb(88, 88, 236);
    font-family: 'Incosolata', monospace;
    font-weight: bold;
}

#user {
    position: relative;
    display: inline-block;
    text-align: center;
    width: 100px;
    color: rgb(88, 88, 236);
}

#menu_op {
    display: none;
    position: absolute;
    left: -30px;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
}

#user:hover #menu_op {
    display: block;
}


.options {
    font-size: medium;
    font-family: 'Inconsolata', monospace;
    height: 50px;
    width: 100%;
    border: none;
    background-color: white;
}

.options:hover {
    cursor: pointer;
}

.shadow:hover {
    background-color: #c5c0c0;
}

#addBtnContainer {
    color: rgb(88, 88, 236);
    border: none;
    background-color: white;
    font-size: 5vw;
}

#addBtnContainer:hover {
    color: rgb(70, 70, 197);
    cursor: pointer;
}

.shadowContainer {
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.2);
    position: fixed;
    top: 0;
    left: 0;
    display: none;
    justify-content: center;
    align-items: center;
}



#IIfa {
    display: none;
}